<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zht.newclassmanager.mapper.CourseMapper">

    <!-- 1. 推荐课程查询 -->
    <select id="getRecommendedCourses" parameterType="int" resultType="com.zht.newclassmanager.pojo.Course">
        SELECT
            c.course_id       AS id,
            c.course_name     AS name,
            c.course_teacher  AS teacher,
            c.course_type     AS type,
            c.course_credit   AS credit,
            c.course_time     AS time,
            c.course_place    AS place,
            c.course_capacity AS capacity,

            (SELECT COUNT(*) FROM `course_selected` cs WHERE cs.course_id = c.course_id) AS chosenNumber

        FROM `course` c
            -- 关联学生表：找到与该学生 "同专业" 且 "同年级" 的课
            JOIN `student` s ON s.student_grade = c.course_year AND s.subject_id = c.subject_id

        WHERE s.student_id = #{studentId}
          AND c.course_type != 1
    </select>

    <!-- 2. 可选课程查询 -->
    <select id="selectForOptional" parameterType="int" resultType="com.zht.newclassmanager.pojo.Course">
        SELECT
            c.course_id       AS id,
            c.course_name     AS name,
            c.course_teacher  AS teacher,
            c.course_type     AS type,
            c.course_credit   AS credit,
            c.course_time     AS time,
            c.course_place    AS place,
            c.course_capacity AS capacity,
            COUNT(cs.course_id)          AS chosenNumber
        FROM `course` c
            left outer join `course_arrangement` ca on c.course_id = ca.course_id
            left outer join `course_selected` cs on c.course_id = cs.course_id
        WHERE c.course_type = #{course_type}
        GROUP BY c.course_id
    </select>

    <!-- 3. 已选课程查询 -->
    <select id="selectForChosen" parameterType="int" resultType="com.zht.newclassmanager.pojo.Course">
        SELECT
            c.course_id       AS id,
            c.course_name     AS name,
            c.course_teacher  AS teacher,
            c.course_type     AS type,
            c.course_credit   AS credit,
            c.course_time     AS time,
            c.course_place    AS place,
            c.course_capacity AS capacity,
            -- student_id 在你的新POJO里没有，这里可能会被忽略，但为了SQL完整性先留着
            ANY_VALUE(s.student_id)      AS student_id,
            COUNT(cs.course_id)          AS chosenNumber
        FROM `course` c
            left outer join `course_selected` cs on c.course_id = cs.course_id
            join `student` s on s.student_id = cs.student_id
        GROUP BY cs.course_id
        HAVING student_id = #{student_id}
    </select>

    <!-- 4. 管理员查询 (注意：假设这里传入的参数也是 Course 对象，所以 test 和 #{} 都要改) -->
    <select id="searchCoursesForManager" resultType="com.zht.newclassmanager.pojo.Course">
        SELECT
        c.course_id       AS id,
        c.course_name     AS name,
        c.course_teacher  AS teacher,
        c.course_type     AS type,
        c.course_credit   AS credit,
        c.course_time     AS time,
        c.course_place    AS place,
        c.course_capacity AS capacity,

        -- 这里添加关联表的字段映射
        col.college_id AS collegeId,
        col.college_name  AS collegeName,
        s.subject_name    AS subjectName,

        -- 子查询计算已选人数
        (SELECT COUNT(*) FROM `course_selected` cs WHERE cs.course_id = c.course_id) as chosenNumber

        FROM `course` c
        LEFT OUTER JOIN `college` col ON c.college_id = col.college_id
        LEFT OUTER JOIN `subject` s ON c.subject_id = s.subject_id

        <where>
            <!-- 这里的参数来自 DTO (CourseQueryDTO)，不是 Course 对象，所以保持 parameter 的名字 -->
            <if test="collegeId != null">
                AND c.college_id = #{collegeId}
            </if>
            <if test="typeId != null">
                AND c.course_type = #{typeId}
            </if>
            <if test="year != null">
                AND c.course_year = #{year}
            </if>

            <if test="keyword != null and keyword != ''">
                <bind name="pattern" value="'%' + keyword + '%'"/>
                AND (
                c.course_name LIKE #{pattern}
                OR
                c.course_teacher LIKE #{pattern}
                )
            </if>
        </where>
    </select>

    <delete id="removeCourse">
        DELETE
        FROM course
        WHERE course_id = #{id}
    </delete>

    <!-- 5. 更新课程 (注意：SET 里的字段引用必须改成新的 Java 属性名) -->
    <update id="updateCourse">
        UPDATE course c
        <set>
            <if test="name != null">
                c.course_name = #{name},
            </if>
            <if test="teacher != null">
                c.course_teacher = #{teacher},
            </if>
            <if test="type != null">
                c.course_type = #{type},
            </if>
            <if test="collegeId != null">
                c.college_id = #{collegeId},
            </if>
            <if test="credit != null">
                c.course_credit = #{credit},
            </if>
            <if test="time != null">
                c.course_time = #{time},
            </if>
            <if test="place != null">
                c.course_place = #{place},
            </if>
            <if test="capacity != null">
                c.course_capacity = #{capacity},
            </if>
        </set>
        WHERE c.course_id = #{id}
    </update>

    <!-- 6. 插入课程 (注意：#{} 里的名字必须改) -->
    <insert id="insertCourse" parameterType="com.zht.newclassmanager.pojo.Course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!-- 1. 只有当属性不为 null 时，才拼接对应的数据库列名 -->
            <if test="id != null">
                course_id,
            </if>
            <if test="name != null">
                course_name,
            </if>
            <if test="teacher != null">
                course_teacher,
            </if>
            <if test="credit != null">
                course_credit,
            </if>
            <if test="time != null">
                course_time,
            </if>
            <if test="place != null">
                course_place,
            </if>
            <if test="capacity != null">
                course_capacity,
            </if>
            <if test="type != null">
                course_type,
            </if>
            <if test="year != null">
                course_year,
            </if>
            <if test="collegeId != null">
                college_id,
            </if>
            <if test="subjectId != null">
                subject_id,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="teacher != null">
                #{teacher},
            </if>
            <if test="credit != null">
                #{credit},
            </if>
            <if test="time != null">
                #{time},
            </if>
            <if test="place != null">
                #{place},
            </if>
            <if test="capacity != null">
                #{capacity},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="year != null">
                #{year},
            </if>
            <if test="collegeId != null">
                #{collegeId},
            </if>
            <if test="subjectId != null">
                #{subjectId},
            </if>
        </trim>
    </insert>

    <!-- 课程安排部分的参数名通常是 Map 或者具体参数，暂且保持原样，如果有问题请改为 #{time} 等 -->
    <select id="selectFromCourseArrangment" resultType="int">
        SELECT course_id
        FROM course_arrangement
        WHERE course_id = #{course_id}
    </select>

    <update id="updateCourseArrangment">
        UPDATE course_arrangement cs
        <trim prefix="SET" suffixOverrides=",">
            <if test="course_time!=null">
                cs.course_time = #{course_time},
            </if>
            <if test="course_place!=null">
                cs.course_place = #{course_place},
            </if>
            <if test="course_capacity!=null">
                cs.course_capacity = #{course_capacity},
            </if>
        </trim>
        WHERE cs.course_id = #{course_id}
    </update>

    <insert id="insertIntoCourseArrangment">
        INSERT INTO course_arrangement
        values(
                  #{course_id},
                  #{course_time},
                  #{course_place},
                  #{course_capacity}
              )
    </insert>


    <!-- 7. 超级查询接口 (重点修改部分) -->
    <select id="searchCourses" resultType="com.zht.newclassmanager.pojo.Course">
        SELECT
        c.course_id       AS id,
        c.course_name     AS name,
        c.course_teacher  AS teacher,
        c.course_type     AS type,
        c.course_credit   AS credit,
        c.course_time     AS time,
        c.course_place    AS place,
        c.course_capacity AS capacity,

        -- 这里添加关联表的字段映射
        col.college_name  AS collegeName,
        s.subject_name    AS subjectName,

        -- 子查询计算已选人数
        (SELECT COUNT(*) FROM `course_selected` cs WHERE cs.course_id = c.course_id) as chosenNumber

        FROM `course` c
        LEFT OUTER JOIN `college` col ON c.college_id = col.college_id
        LEFT OUTER JOIN `subject` s ON c.subject_id = s.subject_id

        <where>
            <!-- 这里的参数来自 DTO (CourseQueryDTO)，不是 Course 对象，所以保持 parameter 的名字 -->
            <if test="collegeId != null">
                AND c.college_id = #{collegeId}
            </if>
            <if test="typeId != null">
                AND c.course_type = #{typeId}
            </if>
            <if test="year != null">
                AND c.course_year = #{year}
            </if>

            <if test="keyword != null and keyword != ''">
                <bind name="pattern" value="'%' + keyword + '%'"/>
                AND (
                c.course_name LIKE #{pattern}
                OR
                c.course_teacher LIKE #{pattern}
                )
            </if>
        </where>
    </select>

    <select id="getCourseById" resultType="com.zht.newclassmanager.pojo.Course">
        SELECT
            c.course_id       AS id,
            c.course_name     AS name,
            c.course_teacher  AS teacher,
            c.course_type     AS type,
            c.course_credit   AS credit,
            c.course_time     AS time,
            c.course_place    AS place,
            c.course_capacity AS capacity,
            col.college_name  AS collegeName,
            s.subject_name    AS subjectName,
        -- 子查询计算已选人数
        (SELECT COUNT(*) FROM `course_selected` cs WHERE cs.course_id = c.course_id) as chosenNumber

        FROM `course` c
            LEFT OUTER JOIN `college` col ON c.college_id = col.college_id
            LEFT OUTER JOIN `subject` s ON c.subject_id = s.subject_id
        WHERE
            c.course_id = #{courseId}
    </select>

    <select id="selectCourseSelectedByStudentId" resultType="com.zht.newclassmanager.pojo.Course">
        SELECT
            c.course_id       AS id,
            c.course_name     AS name,
            c.course_teacher  AS teacher,
            c.course_type     AS type,
            c.course_credit   AS credit,
            c.course_time     AS time,
            c.course_place    AS place,
            c.course_capacity AS capacity,
            col.college_name  AS collegeName

        FROM `course_selected` cs
            -- 1. 先 JOIN course 表 (定义别名 c)
            LEFT OUTER JOIN `course` c ON cs.course_id = c.course_id
            -- 2. 再 JOIN college 表 (现在可以使用 c.college_id 了)
            LEFT OUTER JOIN `college` col ON c.college_id = col.college_id
        WHERE
            cs.student_id = #{studentId}
    </select>
</mapper>