<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zht.mapper.SubjectMapper">
    <select id="selectAllSubjects" resultType="com.zht.pojo.Subject">
        select subject_id,subject_name
        from subject
    </select>

</mapper>
