<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zht.newclassmanager.mapper.UserMapper">
    <select id="selectUser" resultType="com.zht.newclassmanager.pojo.User" parameterType="com.zht.newclassmanager.pojo.User">
        select id,password,type
        from user
        where id = #{id}
    </select>

</mapper>
